<div class="modal-content messageBox">
    <div class="modal-header">
        <h3>Sendu farþeganum upplýsingar</h3>
    </div>
    <div class="modal-body">
        <form data-bind="submit: ok">

            <textarea data-bind="value: input, valueUpdate: 'afterkeydown'" class="autofocus inputMessageBox"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="sendBtn" data-bind="click: ok">Senda</button>
        <button class="btn btn-primary" id="sendBtn" data-bind="click: ok">Loka</button>
    </div>
</div>